/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
h2{
	height: auto;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #D5C6E0;
	color: #967AA1;
	padding-top: 40px;
	padding-bottom: 40px;
}
#button {
	text-align: center;
	font-size: 20px;
	background-color: #D5C6E0;
	color: #967AA1;
	font-weight: bold;
	padding: 12px;
	width: 20%;
	margin-left: 42%;
}
p {
	font-family: "Belleza", sans-serif;
	font-size: 20px;
	margin-left: 4%;
	margin-right: 2%;
}
h4 {
	height: auto;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #967AA1;
	color: #D5C6E0;
	padding-top: 20px;
	padding-bottom: 20px;
}
h3 {
	font-size: 30px;
	font-family: "Nunito Sans", sans-serif;
}
.img {
	float: right;
	margin-right: 2%;
	margin-left: 1%;
	height: auto;
}
.img2 {
	float: right;
	margin-right: 2%;
	margin-left: 1%;
	height: auto;
	font-size: 10px;
}
.mid {
	margin-top: 5%;
	margin-bottom: 5%;
}

@media only screen and (max-width: 767px)
{
 .list {
 	margin-bottom: 20px;
 	border: 2px solid darkgray;
 	padding-left: 15px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
 .footer p{
 	border: 2px solid darkgray;
 	background-color: none;
 }
 .header {
	font-size: 20px;
 }
 h4 {
 	font-size: 15px;
 }
 .img {
 	float: none;
 	margin-left: 5%;
 	height: auto;
 	width: 600px;
 	margin-bottom: 50px;
 }
}